<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Domain Verification</title>
    <link rel="icon" href="/resources/public/images/favicon.svg" />
    <link rel="stylesheet" href="/resources/public/css/basic.css" />
    <link rel="stylesheet" href="/resources/public/css/alerts.css" />
    <link rel="stylesheet" href="/resources/public/css/verify_domain.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto"
    />
    <script
      src="https://challenges.cloudflare.com/turnstile/v0/api.js"
      async
      defer
    ></script>
    <script src="/resources/public/js/alerts.js" defer></script>

  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
      {{ message }}
      <span class="closebtn" onclick="transitionHide()">&times;</span
      >
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <main>
      <h1>Domain verification using TXT record</h1>
      <p><span class="info">{{ domain_name }}</span></p>
      <br />
      <p>Follow the below instructions to verify your domain</p>
      <ol>
        <li>
          <p>Login to your DNS provider (e.g. GoDaddy, Cloudflare, Namecheap etc.) and navigate to the DNS settings for your domain <span class="info">{{ domain_name }}</span></p></li>
        </li>
        <li>
          <p>Add a new TXT record with the following details - </p>
          <div class="verification-code">
            <p>
              <span class="info">Name - &NonBreakingSpace; txt-certsecure-domain-verification</span>
            </p>
            <p><span class="info">Value - &NonBreakingSpace; {{ verification_text_record }}</span></p>
          </div>
        </li>
        <li>
          <p>Once you have added the TXT record, click the button below to verify your domain</p>
        </li>
        <li>
          <p>Please note that it may take up to 24 hours for the DNS changes to take effect depending on your DNS provider, if you are still seeing this page after 24 hours, please contact us at <a href="mailto:certsecure@projectrexa.dedyn.io">certsecure@projectrexa.dedyn.io</a></p>
        </li>
      </ol>
      <form action="/organization/verify-domain" method="post">
        <div
          class="cf-turnstile"
          data-sitekey="0x4AAAAAAAKrUJ3Czhau9p1D"
          data-action="organization-verify-domain"
          data-widget_type="compact"
        ></div>
        <input type="submit" value="Verify Domain" />
      </form>
      <p>
        <span class="info"
          >Current TXT record value - &NonBreakingSpace; {{ domain_txt_record | default("No TXT record found",true) }}</span>
      </p>
    </main>
  </body>
</html>
