.alert {
    width: 100%;
    padding: 15px;
    color: white;
    transition: 0.3s;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;

}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.forgot-password {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.forgot-password a{
    text-decoration: none;
    transition: 0.3s;
    font-size: .8rem;
    text-align: right;
}

.closebtn:hover {
    color: rgba(255, 255, 255, 0.5)
}

.alert-success {
    background-color: #4CAF50;
}

.alert-info {
    background-color: #2196F3;
}

.alert-warning {
    background-color: #ff9800;
}

.alert-danger {
    background-color: #f44336;
}