* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@media (prefers-color-scheme: light) {
    :root {
        --text: rgb(5, 3, 22);
        --background: rgb(251, 251, 254);
        --secondary-background: rgba(0, 0, 0, .05);
        --primary: rgb(47, 39, 206);
        --secondary: rgb(221, 219, 255);
        --accent: rgb(68, 61, 255);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: rgb(235, 233, 252);
        --background: rgb(1, 1, 4);
        --secondary-background: rgba(255, 255, 255, .05);
        --primary: rgb(58, 49, 216);
        --secondary: rgb(2, 0, 36);
        --accent: rgb(6, 0, 194);
    }
}


body {
    color: var(--text);
    background-color: var(--background);
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    padding: 20px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: .1rem;
}

p {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 1rem;
}

.info {
    font-size: .8rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.verification-code {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 1rem;
    background-color: var(--secondary-background);
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
}

a {
    color: var(--primary);
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

input[type="submit"] {
    margin-top: 1rem;
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}
